@import "./theme.css";

* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji";
	font-size: 14px;
}

#waybar {
    background: @background;
    color: @foreground;
}

#workspaces {
    margin-left: 8px;
    
    background: @background;

    border-radius: 24px;
}

#workspaces button {
    color: #565f89;
}

#workspaces button.active {
    background: @accent;
}


#window {
    padding-left: 16px;
    padding-right: 16px;

    transition: none;
    border-radius: 24px;
}

window#waybar.empty #window {  
    background: none;  
}  

#pulseaudio {
    margin-right: 16px;
}

#battery {
    margin-right: 16px;

    transition: none;
}

#clock {
    margin-right: 8px;

    transition: none;
}

