@import "./theme.css";

* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji";
	font-size: 14px;
}

#waybar {
    background: alpha(@background, 0.90);
    color: @foreground;
}

#workspaces {
    margin-left: 8px;
}

#workspaces button {
    color: @foreground;
}

#workspaces button.active {
    background: alpha(@accent, 0.90);
}


#window {
    padding-left: 16px;
    padding-right: 16px;

    transition: none;
}

window#waybar.empty #window {  
    background: none;  
}  

#pulseaudio {
    margin-right: 16px;
}

#battery {
    margin-right: 16px;

    transition: none;
}

#custom-utcclock {
    margin-right: 8px;

    transition: none;
}

