
* {
	border: none;
	border-radius: 0;
	font-family: "FiraCode Nerd Font", "Noto Color Emoji";
	font-size: 14px;
	min-height: 24px;
}

#waybar {
    background: transparent;
    color: #c0caf5;
}


#workspaces {
    margin-left: 8px;

    padding-left: 16px;
    padding-right: 16px;

    background: #24283b;
    border-radius: 24px;
}

#workspaces button {
    padding: 4px;
    margin-left: 1px;
    margin-right: 1px;
    color: #565f89;
}

#workspaces button.active {
    color: #c0caf5;
}

#window {
    padding-left: 16px;
    padding-right: 16px;

    transition: none;
    background: #24283b; 
    border-radius: 24px;
}

window#waybar.empty #window {  
 background: none;  
}  

#battery {
    margin-right: 8px;

    padding-left: 16px;
    padding-right: 16px;

    transition: none;
    background: #24283b;
    border-radius: 24px;
}

#clock {
    margin-right: 8px;

    padding-left: 16px;
    padding-right: 16px;

    transition: none;
    background: #24283b;
    border-radius: 24px;
}

