* {
  font-family: 0xProto Nerd Font, monospace;
  font-size: 14px;
  color: #ffffff;
  /* background: transparent; */
}

window {
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 0;
}

#clock, #memory, #cpu, #network, #custom-ip {
  padding: 0 10px;
}
